<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django is Working</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .frame a.fa {
            font-size: 80px;
            margin: 10px;

        }

        .fa-github {
            color: black;
        }

        .fa-youtube-play {
            color: red;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">Django is Working</h1>
                        <p class="card-text">Congratulations! Your Django application is up and running with Nginx +
                            Gunicorn.</p>
                        <div class="frame">
                            <a href="https://www.youtube.com/@ServerGuyFluxx" class="fa fa-youtube-play "></a>
                            <a href="https://github.com/ServerGuyFluxx" class="fa fa-github"></a>
                            <a href="https://fluxxset.com/" class="fa fa-globe"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Include Bootstrap JS (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>